@{
    ViewBag.Title = "O aplikaciji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>O aplikaciji</h2>

<p>
    Ova aplikacija je razvijena kao projekat iz Web programiranja.
    Omogućava registraciju i prijavu korisnika, CRUD operacije nad filmovima i serijama,
    pretragu, filtriranje i sortiranje, kao i napredne funkcionalnosti poput galerije slika i korisničkog profila.
</p>

<p>
    Podaci se čuvaju u XML fajlovima u okviru <strong>App_Data</strong> foldera,
    a aplikacija koristi MVC strukturu sa odvojenim Modelima, Kontrolerima i View-ovima.
</p>

<p>
    Autor: Vukasin Sevo  <br />
    Datum: 04.05.2026.
</p>
